%logoBase {
    header & {
        width: 100%;
        height: auto;
    }

    & > * {
        filter: url(#logoDropShadow);
    }
}

%logoColorSchemePositive {

}

%logoColorSchemeNegative {
    & > * {
        fill: #ffffff;
    }
}

.logo-full {
    @extend %logoBase;

}

.logo-condensed {
    @extend %logoBase;

}

.logo-abbreviated {
    @extend %logoBase;

}

.site-logo {
    @extend %logoColorSchemeNegative;

    display: block;

    // show the condensed logo by default
    .logo-condensed {
        display: block;
    }

    // hide the others
    .logo-full,
    .logo-abbreviated {
        display: none;
    }

    // @include breakpoint(screen (max-width $small) (orientation portrait)){
    //     .logo-full,
    //     .logo-condensed-horizontal {
    //         display: none;
    //     }

    //     .logo-condensed-vertical {
    //         display: block;
    //     }
    // }

    // @include breakpoint(screen (max-width $medium) (orientation landscape)){
    //     .logo-full,
    //     .logo-condensed-vertical {
    //         display: none;
    //     }

    //     .logo-condensed-horizontal {
    //         display: block;
    //     }
    // }
}
