/* line 5, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/* line 4, ../sass/_base.sass */
textarea:focus, input:focus {
  outline: none; }

/* line 9, ../sass/_base.sass */
.listing-wide-gallery__pager:before, .listing-wide-gallery__pager:after {
  content: " ";
  display: table; }
/* line 14, ../sass/_base.sass */
.listing-wide-gallery__pager:after {
  clear: both; }

/* line 17, ../sass/_base.sass */
h1, h2, h3 {
  margin: 10px 20px 5px; }

/* line 20, ../sass/_base.sass */
h4, h5 {
  margin: 5px 20px; }

/* line 23, ../sass/_base.sass */
p, table {
  margin: 10px 20px; }

/* line 26, ../sass/_base.sass */
a {
  text-decoration: none; }

/* generic classes */
/* line 30, ../sass/_base.sass */
.row {
  margin: 0 auto;
  width: 960px;
  text-align: left;
  overflow: hidden;
  position: relative; }

/* #main must be the div row that preceeds the footer row, otherwise things break */
/* line 39, ../sass/_base.sass */
.last-row {
  overflow: hidden;
  padding-bottom: 133px;
  /* must be same height as the footer */ }

/* line 44, ../sass/_base.sass */
.first-row .side {
  height: 451px; }

/* line 47, ../sass/_base.sass */
.col {
  float: left;
  overflow: hidden; }

/* line 51, ../sass/_base.sass */
.side {
  width: 260px;
  margin-right: 1px; }

/* line 55, ../sass/_base.sass */
.single-row {
  overflow: hidden;
  padding-bottom: 133px; }

/* line 59, ../sass/_base.sass */
.single-row .side {
  height: 451px; }

/* line 62, ../sass/_base.sass */
.main {
  width: 600px; }

/* line 65, ../sass/_base.sass */
.main-half {
  width: 300px; }

/* line 68, ../sass/_base.sass */
.main-third {
  width: 200px; }

/* specific id selectors */
/* line 72, ../sass/_base.sass */
html, body {
  height: 100%;
  min-width: 962px;
  text-align: center;
  background: #C4BFA2; }

/* line 78, ../sass/_base.sass */
#wrap {
  min-height: 100%;
  margin: 0 auto;
  width: 962px;
  background: #c4bfa2 url(../img/canvas-bg.png) repeat-y center; }

/* line 84, ../sass/_base.sass */
#header {
  height: 91px;
  background: url("../img/header-bg.png") no-repeat;
  overflow: visible; }

/* line 89, ../sass/_base.sass */
#header a.logo {
  display: block;
  /* this is for ie 6. stops the bug from the extra whitespace from the inline link used for the logo. unable to use overflow: hidden since that hides #tagline since it's positioned outside of the bounds of the header */ }

/* line 93, ../sass/_base.sass */
#main-nav {
  position: absolute;
  top: 0;
  left: 261px;
  height: 60px;
  width: 699px; }

/* line 100, ../sass/_base.sass */
#main-nav ul {
  position: absolute;
  bottom: 0;
  right: 99px; }

/* line 105, ../sass/_base.sass */
#main-nav li {
  float: left;
  margin-left: 10px; }

/* line 109, ../sass/_base.sass */
#main-nav a {
  display: block;
  padding: 6px;
  margin: 1px;
  margin-bottom: 0; }

/* line 115, ../sass/_base.sass */
#main-nav a:hover, #main-nav li.current-menu-item a {
  border: 1px solid #fff;
  border-bottom: 0;
  margin: 0;
  background: #f8cb2e; }

/* line 121, ../sass/_base.sass */
#breadcrumbs {
  position: absolute;
  bottom: 1px;
  left: 261px;
  width: 600px;
  height: 29px; }

/* line 128, ../sass/_base.sass */
#breadcrumbs p {
  margin: 0;
  padding: 5px 10px; }

/* line 132, ../sass/_base.sass */
#tagline {
  position: absolute;
  top: 91px;
  left: 0;
  width: 260px;
  height: 20px;
  text-align: center;
  padding-top: 3px; }

/* mailchimp signup form */
/* line 142, ../sass/_base.sass */
#mc_embed_signup {
  border-bottom: 1px solid white; }

/* line 145, ../sass/_base.sass */
#mc_embed_signup h2 {
  line-height: 1.5; }

/* line 148, ../sass/_base.sass */
#mc_embed_signup p {
  font-size: 16px;
  color: black; }

/* line 152, ../sass/_base.sass */
#mc_embed_signup input {
  margin: 0;
  border: 0;
  padding: 10px 20px;
  font-size: 18px;
  font-family: "Lucida Grande", "Lucida Sans Unicode", sans-serif;
  color: black; }

/* line 160, ../sass/_base.sass */
#mc_embed_signup .email {
  margin: 0;
  border: 0;
  padding: 10px 20px;
  width: 220px;
  font-size: 18px;
  font-family: "Lucida Grande", "Lucida Sans Unicode", sans-serif;
  color: black; }

/* line 169, ../sass/_base.sass */
#mc_embed_signup #subscribe-btn-div {
  float: left;
  width: 130px; }

/* line 173, ../sass/_base.sass */
#mc_embed_signup .btn {
  border-right: 1px solid white; }

/* line 176, ../sass/_base.sass */
#mc_embed_signup #pp-link {
  float: left;
  width: 130px;
  text-align: center;
  padding-top: 10px; }

/* line 182, ../sass/_base.sass */
#mc_embed_signup .defaultTextActive {
  color: #a1a1a1;
  font-style: italic; }

/* line 186, ../sass/_base.sass */
#footer {
  margin-top: -133px;
  /* negative value of footer height */
  background: url("../img/footer-bg.png");
  height: 133px;
  clear: both;
  overflow: visible; }

/* line 194, ../sass/_base.sass */
#footer-nav {
  position: absolute;
  top: 80px;
  left: 261px; }

/* line 199, ../sass/_base.sass */
#footer-nav ul {
  padding-left: 10px; }

/* line 202, ../sass/_base.sass */
#footer-nav li {
  float: left;
  padding-left: 10px; }

/* line 206, ../sass/_base.sass */
#menu-footer a {
  padding: 5px; }

/* block level styles to go inside the grid columns and rows */
/* line 210, ../sass/_base.sass */
#listing-realtor {
  position: absolute;
  top: 65px;
  width: 260px;
  text-align: center; }

/* line 216, ../sass/_base.sass */
#listing-realtor .profile-frame {
  position: absolute;
  top: -6px;
  left: 60px; }

/* line 221, ../sass/_base.sass */
#listing-realtor .name-phone-email {
  padding: 5px 6px 8px; }

/* line 224, ../sass/_base.sass */
#listing-realtor .name {
  font-size: 18px;
  font-weight: bold;
  font-family: serif;
  text-transform: uppercase; }

/* line 230, ../sass/_base.sass */
#listing-realtor .name span {
  font-size: 24px; }

/* line 233, ../sass/_base.sass */
#listing-realtor .phone {
  font-size: 15px; }

/* line 236, ../sass/_base.sass */
.side-message {
  position: relative;
  width: 260px;
  text-align: left;
  font-family: "Times New Roman", serif;
  font-size: 18px;
  line-height: 1.5; }

/* line 244, ../sass/_base.sass */
.side-message p {
  color: #874826; }

/* line 247, ../sass/_base.sass */
.side-message p:first-letter {
  font-size: 21px; }

/* line 250, ../sass/_base.sass */
#buyer-message {
  top: 50px; }

/* line 253, ../sass/_base.sass */
#seller-message {
  margin: 120px 0 0; }

/* line 256, ../sass/_base.sass */
#seller-message h3 {
  color: #874826;
  font-size: 24px;
  font-weight: normal; }

/* line 261, ../sass/_base.sass */
#general-nav {
  position: absolute;
  bottom: 0;
  width: 260px;
  border-bottom: 1px solid #fff;
  background: #afa988;
  text-align: right; }

/* line 269, ../sass/_base.sass */
#general-nav ul li:first-child a {
  padding-top: 10px; }

/* line 272, ../sass/_base.sass */
#general-nav ul li:last-child a {
  padding-bottom: 10px; }

/* line 275, ../sass/_base.sass */
#general-nav ul li:hover {
  background: url(../img/gray-trans-bg.png); }

/* line 278, ../sass/_base.sass */
#general-nav a {
  display: block;
  padding: 5px 25px; }

/* these are the generic styles for the various galleries */
/* line 283, ../sass/_base.sass */
.slide-meta-box {
  position: absolute;
  left: 0;
  top: 0;
  background: url(../img/gray-trans-bg.png);
  width: 600px; }

/* line 290, ../sass/_base.sass */
.slide-meta-box p {
  text-align: right;
  padding: 6px; }

/* front page listing slideshow styles */
/* line 295, ../sass/_base.sass */
#featured-listings {
  position: relative; }
  /* line 297, ../sass/_base.sass */
  #featured-listings .featured {
    border-bottom: 1px solid #fff; }
  /* line 299, ../sass/_base.sass */
  #featured-listings .post .listing-img-header {
    height: 450px; }

/* line 302, ../sass/_base.sass */
.listing-title-price {
  position: absolute;
  bottom: 0;
  left: 0;
  background: url(../img/gray-trans-bg.png);
  width: 600px;
  height: 80px; }

/* line 310, ../sass/_base.sass */
.listing-title-price p {
  margin: 0px;
  padding: 0 20px; }

/*  previous next pager elements for the front page slideshow */
/* line 315, ../sass/_base.sass */
.prev, .next {
  height: 80px;
  width: 45px;
  position: absolute;
  top: 370px;
  z-index: 1000;
  text-align: center;
  font-size: 60px;
  text-indent: 9999px;
  /* we're going to use image replacement here since the slideshow is javascript based */
  overflow: hidden;
  background: url(../img/prev-next.png); }

/* line 328, ../sass/_base.sass */
.prev {
  left: 5px;
  background-position: 0 0; }

/* line 332, ../sass/_base.sass */
.next {
  right: 5px;
  background-position: 40px 0; }

/* line 336, ../sass/_base.sass */
.prev:hover {
  background-position: 0 80px; }

/* line 339, ../sass/_base.sass */
.next:hover {
  background-position: 40px 80px; }

/* this class is added to the div.listing-title-price with jQuery
 *It makes the space for the .prev and .next divs for the slideshow nav */
/* line 344, ../sass/_base.sass */
.add-nav-space {
  width: 520px;
  padding: 0 40px; }

/* these styles are for the listing photo gallery */
/* line 349, ../sass/_base.sass */
#listing-gallery {
  height: 451px;
  position: relative; }
  /* line 353, ../sass/_base.sass */
  #listing-gallery .pager {
    position: absolute;
    bottom: 1px;
    left: 0;
    z-index: 100;
    display: none;
    background: rgba(128, 128, 128, 0.5);
    padding: 0 45px; }
  /* line 362, ../sass/_base.sass */
  #listing-gallery .prev,
  #listing-gallery .next {
    top: 20px; }

/* line 366, ../sass/_base.sass */
.slide {
  display: none;
  border-bottom: 1px solid #fff;
  min-width: 600px;
  min-height: 450px; }
  /* line 372, ../sass/_base.sass */
  .slide.first {
    display: block; }

/* line 375, ../sass/_base.sass */
.slide img {
  display: block;
  width: 100%;
  height: 100%;
  cursor: url(../img/magnify.cur), pointer; }

/* line 381, ../sass/_base.sass */
.pager-imgs {
  padding: 9px 0 0 9px;
  overflow: hidden; }

/* line 385, ../sass/_base.sass */
.pager-imgs div {
  display: block;
  float: left; }

/* line 389, ../sass/_base.sass */
.pager-imgs div a {
  overflow: hidden;
  height: 40px;
  display: block;
  margin: 0 9px 9px 0;
  border: 1px solid #bbb; }

/* line 396, ../sass/_base.sass */
.pager-imgs div a.activeSlide {
  display: block;
  border: 1px solid #CA6C38; }

/* these are simple content block styles. used on the front page mostly */
/* line 401, ../sass/_base.sass */
.block-header {
  background: #ca6c38;
  padding-bottom: 5px; }

/* line 405, ../sass/_base.sass */
.block-header p {
  margin: 0;
  padding: 0 20px 5px; }

/* line 409, ../sass/_base.sass */
.block-header, .block {
  overflow: auto; }

/* line 412, ../sass/_base.sass */
#recently-sold, #recent-entries {
  padding-bottom: 20px; }

/* allows the imgs to float to the left of the headeres */
/* line 416, ../sass/_base.sass */
.block h3, .block h4 {
  line-height: 1.3;
  clear: none; }

/* line 420, ../sass/_base.sass */
.block h3 {
  margin-bottom: 5px; }

/* line 423, ../sass/_base.sass */
.block h4 {
  font-family: verdana, sans-serif; }

/* line 426, ../sass/_base.sass */
.block img {
  float: left;
  border: 1px solid #ddd;
  margin: 9px 9px 9px 19px; }

/* line 431, ../sass/_base.sass */
.block p {
  margin-bottom: 5px; }

/* line 434, ../sass/_base.sass */
#listing-data {
  margin-top: 77px;
  color: #486f7f; }

/* line 438, ../sass/_base.sass */
#listing-data a {
  color: #486f7f; }

/* line 441, ../sass/_base.sass */
#listing-data a:hover {
  color: #000; }

/* line 444, ../sass/_base.sass */
#listing-data .block-header {
  background: #6093a9;
  /* 	background: #0b8fc6; */ }

/* line 448, ../sass/_base.sass */
#listing-data dl, #listing-data ul {
  margin: 5px 20px 20px; }

/* line 451, ../sass/_base.sass */
#listing-data dt, #listing-data li {
  font-weight: bold;
  font-size: 13px;
  font-family: verdana, sans-serif; }

/* line 456, ../sass/_base.sass */
#listing-data li {
  margin-bottom: 10px; }

/* line 459, ../sass/_base.sass */
#listing-data dd {
  text-align: right;
  padding-bottom: 5px;
  border-bottom: 1px solid #afa988;
  margin-bottom: 5px; }

/* line 465, ../sass/_base.sass */
.feature-list {
  margin: 20px 20px 40px;
  color: white; }

/* line 469, ../sass/_base.sass */
.feature-list dt {
  font-weight: bold;
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid #ca6c38; }

/* line 475, ../sass/_base.sass */
.feature-list li {
  margin-bottom: 5px; }

/* line 478, ../sass/_base.sass */
.listing-location {
  margin: 20px 20px 40px;
  color: white; }

/* line 482, ../sass/_base.sass */
.listing-location h4 {
  font-weight: bold;
  margin: 0 0 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid #ca6c38; }

/* line 488, ../sass/_base.sass */
.listing-location .map {
  border: 1px solid white; }

/* line 491, ../sass/_base.sass */
.video-embed {
  border: 1px solid #fff;
  border-left: 0;
  height: 202px;
  overflow: hidden; }

/* line 497, ../sass/_base.sass */
.video-embed p {
  margin: 0;
  padding: 0; }

/* line 501, ../sass/_base.sass */
#page-content {
  padding-bottom: 40px; }

/* line 504, ../sass/_base.sass */
#page-content ul {
  margin: 10px 20px; }

/* line 507, ../sass/_base.sass */
#page-content li {
  margin-bottom: 10px;
  line-height: 1.2; }

/* line 511, ../sass/_base.sass */
body.category-blog .post {
  margin: 20px 20px 30px; }

/* line 514, ../sass/_base.sass */
body.category-blog .post h2 {
  margin: 0;
  padding-bottom: 5px;
  border-bottom: 1px solid #ca6c38; }

/* line 519, ../sass/_base.sass */
.date, .tags {
  margin: 10px 20px;
  color: #fff;
  font-size: 13px;
  font-family: verdana, sans-serif; }

/* line 525, ../sass/_base.sass */
.tags {
  border-top: 1px solid #ca6c38; }

/* line 528, ../sass/_base.sass */
.post p a {
  text-decoration: underline; }

/* line 531, ../sass/_base.sass */
.post a:link {
  color: #fff; }

/* line 534, ../sass/_base.sass */
.post a:visited {
  color: #fff; }

/* line 537, ../sass/_base.sass */
.post a:hover {
  color: #ccc; }

/* line 540, ../sass/_base.sass */
.post-title {
  border-bottom: 1px solid #ca6c38; }

/* line 543, ../sass/_base.sass */
.post .content-img {
  border: 1px solid white; }

/* line 546, ../sass/_base.sass */
.post ul {
  list-style: circle;
  margin: 0 20px 10px;
  color: white;
  width: 250px; }

/* line 552, ../sass/_base.sass */
.post li {
  margin: 0 0 5px 0;
  line-height: 1.5; }

/* line 556, ../sass/_base.sass */
.navigation {
  margin: 5px 20px 20px; }

/* line 559, ../sass/_base.sass */
.wpcf7 p {
  position: relative;
  margin: 0 0 70px;
  /* room for the submit button plus 10px */
  padding: 0; }

/* line 565, ../sass/_base.sass */
.wpcf7 br {
  display: none; }

/* line 568, ../sass/_base.sass */
.wpcf7 .cf-label {
  padding: 10px 20px 10px;
  color: white;
  font-size: 18px; }

/* line 573, ../sass/_base.sass */
.wpcf7 input, .wpcf7 textarea {
  margin: 0;
  border: 0;
  padding: 10px 20px;
  font-size: 21px;
  font-family: "Lucida Grande", "Lucida Sans Unicode", sans-serif;
  color: black; }

/* line 581, ../sass/_base.sass */
.wpcf7 .wpcf7-text,
.wpcf7 textarea {
  border-bottom: 1px solid #AFA988;
  width: 560px; }

/* line 586, ../sass/_base.sass */
.wpcf7 .wpcf7-text {
  height: 25px; }

/* line 589, ../sass/_base.sass */
.wpcf7 textarea {
  height: 259px;
  display: block; }

/* line 593, ../sass/_base.sass */
.wpcf7-submit {
  width: 180px;
  height: 60px;
  position: absolute;
  right: 0; }

/* WP Contact Form 7 Styles
 *I copied these from the plugin style directory and then disabled the laoding of the plugin styles
 *CF styles disabled in wp-config.php */
/* line 602, ../sass/_base.sass */
div.wpcf7 {
  margin: 0;
  padding: 0; }

/* line 606, ../sass/_base.sass */
div.wpcf7-response-output {
  margin: 0;
  padding: 10px 20px;
  width: 379px;
  position: absolute;
  bottom: -60px;
  height: 40px;
  /*	top: 338px; */
  left: 0;
  color: black;
  line-height: 1.2; }

/* line 618, ../sass/_base.sass */
div.wpcf7-mail-sent-ok {
  background: #349cd2; }

/* line 621, ../sass/_base.sass */
div.wpcf7-mail-sent-ng {
  background: #F8CB2E; }

/* line 624, ../sass/_base.sass */
div.wpcf7-spam-blocked {
  background: #F8CB2E; }

/* line 627, ../sass/_base.sass */
div.wpcf7-validation-errors {
  background: #F8CB2E; }

/* line 630, ../sass/_base.sass */
span.wpcf7-form-control-wrap {
  position: relative;
  display: block; }

/* line 634, ../sass/_base.sass */
span.wpcf7-not-valid-tip {
  display: block;
  position: absolute;
  z-index: 100;
  font-size: 12pt;
  width: 560px;
  padding: 5px 20px;
  background: transparent;
  color: #f66;
  bottom: 0;
  right: 0;
  text-align: right; }

/* line 647, ../sass/_base.sass */
span.wpcf7-not-valid-tip-no-ajax {
  color: #f00;
  font-size: 10pt;
  display: block; }

/* line 652, ../sass/_base.sass */
span.wpcf7-list-item {
  margin-left: 0.5em; }

/* line 655, ../sass/_base.sass */
.wpcf7-display-none {
  display: none; }

/* line 658, ../sass/_base.sass */
div.wpcf7 img.ajax-loader {
  border: none;
  vertical-align: middle;
  position: absolute;
  right: 30px;
  bottom: -30px; }

/* line 665, ../sass/_base.sass */
div.wpcf7 .watermark {
  color: #AFA988; }

/* end WP Contact Form 7 Styles */
/* line 669, ../sass/_base.sass */
.blog-post {
  border-top: 1px solid white;
  clear: both;
  overflow: hidden;
  margin-bottom: 10px;
  position: relative;
  width: 600px; }

/* line 677, ../sass/_base.sass */
.blog .alignleft {
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  margin-top: 0;
  margin-bottom: 10px; }

/* line 683, ../sass/_base.sass */
.blog .read-more {
  text-align: right;
  margin: 5px 20px 10px; }

/* line 687, ../sass/_base.sass */
.blog .description {
  margin-bottom: 20px; }

/* These rather presentational classes are generated by WordPress, so it's useful to have some styles for them. Edit as you see fit. More info: http://codex.wordpress.org/CSS */
/* line 691, ../sass/_base.sass */
.aligncenter {
  display: block;
  margin: 0 auto; }

/* line 695, ../sass/_base.sass */
.alignleft {
  float: left;
  margin: 5px 20px 0 0; }

/* line 699, ../sass/_base.sass */
.alignright {
  float: right;
  margin: 5px 0 0 20px; }

/* line 703, ../sass/_base.sass */
.wp-caption {
  background: #C4BFA2;
  margin-bottom: 12px; }

/* line 707, ../sass/_base.sass */
.wp-caption p, .gallery-caption {
  margin: 3px !important;
  text-align: center !important; }

/*Opera Fix for the  footer stick */
/* line 712, ../sass/_base.sass */
body:before {
  content: "";
  height: 100%;
  float: left;
  width: 0;
  margin-top: -32767px; }

/* line 719, ../sass/_base.sass */
#page-content h2:first-child {
  margin-top: 10px; }

/* line 722, ../sass/_base.sass */
#page-content h2 {
  margin-top: 20px; }

/* TYPOGRAPHY */
/* ----------------------------------------- */
/* Default font settings.
 *   The font-size percentage is of 16px. (0.75 * 16px = 12px) 
 *
 **** make these percentage values or ems where it would be appropriate to have the text scale
 **** for now I'm just going to go with pixel values (easier to work with)
 *
 *font sizes I want to use
 *
 *13px verdana - smallest
 *15px 'Lucidia Grande' - default text
 *18px 'Lucidia Grande' - larger font
 *24px
 *30px */
/* These are the color values used for the site
 *red: #CA6C38
 *dark-red: #874826
 *
 *
 *	color: #486f7f;
 *}
 *
 *#listing-data a{
 *		color: #486f7f;
 *}
 *
 *#listing-data a:hover {
 *	color: #000;
 *}
 *
 *desaturated blue from the site header used for the listing data header
 *#6093a9; */
/* line 37, ../sass/typo.sass */
/* line 761, ../sass/_base.sass */
body {
  font-size: 15px;
  color: #874826;
  font-family: "Lucida Grande", "Lucida Sans Unicode", sans-serif; }

/* line 42, ../sass/typo.sass */
/* line 768, ../sass/_base.sass */
h1, h2, h3, h4, h5 {
  color: white; }

/* line 45, ../sass/typo.sass */
/* line 773, ../sass/_base.sass */
h1 {
  font-size: 30px; }

/* line 48, ../sass/typo.sass */
/* line 778, ../sass/_base.sass */
h2 {
  font-size: 21px; }

/* line 51, ../sass/typo.sass */
/* line 783, ../sass/_base.sass */
h3 {
  font-size: 17px; }

/* line 54, ../sass/typo.sass */
/* line 788, ../sass/_base.sass */
h4 {
  font-size: 15px; }

/* line 57, ../sass/typo.sass */
/* line 793, ../sass/_base.sass */
h5 {
  font-size: 13px; }

/* line 60, ../sass/typo.sass */
/* line 798, ../sass/_base.sass */
h3, h4, h5 {
  font-weight: bold; }

/* line 63, ../sass/typo.sass */
/* line 803, ../sass/_base.sass */
p {
  line-height: 1.5;
  color: white;
  text-align: justify; }

/* line 69, ../sass/typo.sass */
/* line 811, ../sass/_base.sass */
a:link, a:visited {
  color: #874826; }
/* line 813, ../sass/_base.sass */
a:active {
  color: white; }
/* line 815, ../sass/_base.sass */
a:hover {
  color: black; }

/* line 71, ../sass/typo.sass */
/* line 73, ../sass/typo.sass */
/* line 76, ../sass/typo.sass */
/* line 824, ../sass/_base.sass */
.small {
  font-size: 13px;
  font-family: verdana, sans-serif; }

/* line 80, ../sass/typo.sass */
/* line 830, ../sass/_base.sass */
.medium {
  font-size: 18px; }

/* line 83, ../sass/typo.sass */
/* line 835, ../sass/_base.sass */
.large {
  font-size: 24px; }

/* line 86, ../sass/typo.sass */
/* line 840, ../sass/_base.sass */
.largest {
  font-size: 30px; }

/* line 89, ../sass/typo.sass */
/* line 845, ../sass/_base.sass */
#main-nav li {
  font-size: 18px; }
  /* line 847, ../sass/_base.sass */
  #main-nav li.current-menu-item a {
    color: black; }

/* line 91, ../sass/typo.sass */
/* line 94, ../sass/typo.sass */
/* line 854, ../sass/_base.sass */
#tagline {
  font-size: 13px;
  word-spacing: 7px;
  line-height: 1.3em; }

/* line 99, ../sass/typo.sass */
/* line 861, ../sass/_base.sass */
#general-nav a {
  font-size: 18px;
  color: white; }

/* line 103, ../sass/typo.sass */
/* line 867, ../sass/_base.sass */
.listing-title-price p {
  font-size: 18px; }

/* line 106, ../sass/typo.sass */
/* line 872, ../sass/_base.sass */
.slide-meta-box p {
  color: white; }

/* line 109, ../sass/typo.sass */
/* line 877, ../sass/_base.sass */
#copyright {
  color: #ca6c38; }

/*  Core Owl Carousel CSS File */
/* line 3, ../sass/_owl.carousel.sass */
.owl-carousel, .listing-wide-gallery__slides {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1; }
  /* line 12, ../sass/_owl.carousel.sass */
  .owl-carousel .owl-stage, .listing-wide-gallery__slides .owl-stage {
    position: relative;
    -ms-touch-action: pan-Y; }
  /* line 16, ../sass/_owl.carousel.sass */
  .owl-carousel .owl-stage:after, .listing-wide-gallery__slides .owl-stage:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0; }
  /* line 24, ../sass/_owl.carousel.sass */
  .owl-carousel .owl-stage-outer, .listing-wide-gallery__slides .owl-stage-outer {
    position: relative;
    overflow: hidden;
    /* fix for flashing background */
    -webkit-transform: translate3d(0px, 0px, 0px); }
  /* line 31, ../sass/_owl.carousel.sass */
  .owl-carousel .owl-item, .listing-wide-gallery__slides .owl-item {
    position: relative;
    min-height: 1px;
    float: left;
    -webkit-backface-visibility: hidden;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none; }
  /* line 39, ../sass/_owl.carousel.sass */
  .owl-carousel .owl-item img, .listing-wide-gallery__slides .owl-item img {
    display: block;
    width: 100%;
    -webkit-transform-style: preserve-3d; }
  /* line 44, ../sass/_owl.carousel.sass */
  .owl-carousel .owl-nav.disabled, .listing-wide-gallery__slides .owl-nav.disabled,
  .owl-carousel .owl-dots.disabled,
  .listing-wide-gallery__slides .owl-dots.disabled {
    display: none; }
  /* line 48, ../sass/_owl.carousel.sass */
  .owl-carousel .owl-nav .owl-prev, .listing-wide-gallery__slides .owl-nav .owl-prev,
  .owl-carousel .owl-nav .owl-next,
  .listing-wide-gallery__slides .owl-nav .owl-next,
  .owl-carousel .owl-dot,
  .listing-wide-gallery__slides .owl-dot {
    cursor: pointer;
    cursor: hand;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  /* line 59, ../sass/_owl.carousel.sass */
  .owl-carousel.owl-loaded, .owl-loaded.listing-wide-gallery__slides {
    display: block; }
  /* line 62, ../sass/_owl.carousel.sass */
  .owl-carousel.owl-loading, .owl-loading.listing-wide-gallery__slides {
    opacity: 0;
    display: block; }
  /* line 66, ../sass/_owl.carousel.sass */
  .owl-carousel.owl-hidden, .owl-hidden.listing-wide-gallery__slides {
    opacity: 0; }
  /* line 69, ../sass/_owl.carousel.sass */
  .owl-carousel.owl-refresh .owl-item, .owl-refresh.listing-wide-gallery__slides .owl-item {
    display: none; }
  /* line 72, ../sass/_owl.carousel.sass */
  .owl-carousel.owl-drag .owl-item, .owl-drag.listing-wide-gallery__slides .owl-item {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  /* line 78, ../sass/_owl.carousel.sass */
  .owl-carousel.owl-grab, .owl-grab.listing-wide-gallery__slides {
    cursor: move;
    cursor: -webkit-grab;
    cursor: -o-grab;
    cursor: -ms-grab;
    cursor: grab; }
  /* line 85, ../sass/_owl.carousel.sass */
  .owl-carousel.owl-rtl, .owl-rtl.listing-wide-gallery__slides {
    direction: rtl; }
  /* line 88, ../sass/_owl.carousel.sass */
  .owl-carousel.owl-rtl .owl-item, .owl-rtl.listing-wide-gallery__slides .owl-item {
    float: right; }

/* No Js */
/* line 92, ../sass/_owl.carousel.sass */
.no-js .owl-carousel, .no-js .listing-wide-gallery__slides {
  display: block; }

/* line 4, ../sass/main.sass */
#directory-index {
  width: 580px;
  margin: 5px 10px;
  overflow: hidden;
  *zoom: 1; }
  /* line 9, ../sass/main.sass */
  #directory-index .block {
    display: inline;
    float: left;
    margin: 5px 10px;
    width: 270px;
    overflow: hidden; }
    /* line 15, ../sass/main.sass */
    #directory-index .block h3, #directory-index .block li {
      margin: 0 0 10px; }

/* line 18, ../sass/main.sass */
#newport-info {
  position: absolute;
  bottom: 31px;
  right: 99px;
  width: 340px;
  height: 101px; }
  /* line 25, ../sass/main.sass */
  #newport-info img {
    position: absolute;
    bottom: 10px;
    right: 20px; }
  /* line 30, ../sass/main.sass */
  #newport-info p {
    margin: 0;
    color: #969488;
    font-weight: bold;
    position: absolute;
    bottom: 10px;
    right: 115px;
    text-align: right;
    font-size: 12px;
    line-height: 20px; }

/* line 41, ../sass/main.sass */
#copyright {
  position: absolute;
  bottom: 0px;
  right: 0px;
  height: 30px;
  padding-right: 9px; }
  /* line 48, ../sass/main.sass */
  #copyright p {
    margin: 0;
    line-height: 30px;
    font-size: 12px; }

/* for the wide single post page */
/* line 56, ../sass/main.sass */
.single-post-listing-wide .main {
  width: 699px;
  background-color: #BFB59D; }
/* line 60, ../sass/main.sass */
.single-post-listing-wide #header {
  background-image: url(../img/header-bg-wide.png); }
/* line 63, ../sass/main.sass */
.single-post-listing-wide #footer {
  background-image: url(../img/footer-bg-wide.png); }
/* line 66, ../sass/main.sass */
.single-post-listing-wide #newport-info {
  right: 0px; }

/* line 73, ../sass/main.sass */
.listing-wide-gallery__slides {
  border-bottom: 1px solid white; }
/* line 78, ../sass/main.sass */
.listing-wide-gallery__slide {
  outline: none;
  width: 100%;
  height: 100%; }
  /* line 83, ../sass/main.sass */
  .listing-wide-gallery__slide img {
    width: 100%;
    height: 100%; }
/* line 87, ../sass/main.sass */
.listing-wide-gallery__pager {
  display: block;
  background: #BFB59D;
  position: relative;
  list-style: none;
  text-align: center;
  padding: 0; }
/* line 97, ../sass/main.sass */
.listing-wide-gallery__thumb {
  position: relative;
  float: left;
  display: block;
  height: 39px;
  width: 39px;
  border-bottom: 1px solid white;
  border-right: 1px solid white;
  margin: 0;
  padding: 0;
  overflow: hidden; }
  /* line 109, ../sass/main.sass */
  .listing-wide-gallery__thumb img {
    display: block;
    height: 100%;
    width: 100%; }
