// Colors
$brand-primary:         #27ae60;

$fa-font-path:          '~font-awesome/fonts';

$base-font-stack: 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
$body-font-family: 'Brandon Text', $base-font-stack;
$header-font-family: 'Brandon Grotesque', $base-font-stack;

